@model IEnumerable<Product>
<div class="col-12 text-center pt-2">
    <input id="myInput" type="text" placeholder=" Search Books here.." style="width:40%; border-radius:30px">
</div>
<div class="row pt-3">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/bgbook1.png" class="d-block w-100" alt="..." style="height:300px;">
            </div>
            <div class="carousel-item">
                <img src="~/images/bgbook12.png" class="d-block w-100" alt="..." style="height:300px;">
            </div>
            <div class="carousel-item">
                <img src="~/images/th (1).jpg" class="d-block w-100" alt="..." style="height:300px;">
            </div>
            <div class="carousel-item">
                <img src="~/images/th (2).jpg" class="d-block w-100" alt="..." style="height:300px;">
            </div>
        </div>
    </div>
</div><br />
<div class="row pb-3" id="SearchBook">
    @foreach (var product in Model)
    {
        <div class=" col-lg-3 col-md-6 card11">
       <div class="row p-2">
           <div class="col-12 p-1 " style="border-radius:5px; border:1px solid #008cba">
               <div class="card">
                   <img src="@product.ImageUrl" class="card-img-top rounded" style="height:300px;" />
                   <div class="card-body">
                       <div class="pl-1">
                           <p class="card-title text-primary h5">@product.Title</p>
                           <p class="card-title text-info">by <b>@product.Author</b></p>
                       </div>
                       <div class="pl-1">
                           <p>List Price: <strike><b>$@product.ListPrice.ToString("0.00")</b></strike></p>
                       </div>
                       <div class="pl-1">
                           <p>As Low As: <b>$@product.Price100.ToString("0.00")</b></p>
                       </div>
                   </div>
               </div>
               <div><a asp-action="Details" class="btn btn-primary form-control" asp-route-productId="@product.Id">Details</a></div>
           </div>
       </div>

   </div>

    }

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#SearchBook .card11 ").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>